<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get It Done To Do List</title>
</head>
<body>
    <h1>Get It Done</h1>
    
</body>
</html>
=======
{{!-- Landing page, description of application --}}

<h1>Get It Done!</h1>
<p>Get organized by tracking what you need to do!</p>
>>>>>>> 8b1d14817c0909f6a386d7bae5fd872fccc024a6
