<button class="btn btn-primary"><a class="no-text-decor text-white" href="/auth/google">Login with Google</a></button>
<button class="btn btn-primary"><a class="no-text-decor text-white" href="/auth/logout">Logout</a></button>
<button class="btn btn-primary"><a class="no-text-decor text-white" href="/auth/profiletest">View Profile</a></button>